h1 {
    text-align: center;
}

p {
    text-align: center;
}

#game {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    background-color: white;
    border-color: black;
    text-align: center;
    border-width: 1px;
    border-style: solid;

    padding: 75px;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

#settings {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #dfcfcfaf;
    background-color: transparent;
    border-width: 0px;
}
#settings:hover{
    color: #ccbabae7;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}

.banner {
    font-family: Tahoma, sans-serif;
    padding: 50px;
    border-radius: 4px;
    overflow-y: scroll;
    width: 450px;
    height: 450px;
    scrollbar-width: none;
    -ms-overflow-style: none; 
    overflow: -moz-scrollbars-none;
    font-size: 18px;;
}
.banner::-webkit-scrollbar{
    display: none;
    width: 0;
    height: 0;
    
}

.button {
    padding: 10px;
    border-radius: 4px;
}

.sticky {
    position:sticky;
    bottom:0px;
}

ul {
    text-align: left;
}

.accept {
    background-color: #008000;
    color:white;
}

#accept_all {
    background-color: #ff0000;
    color:white;
}

#edit_button {
    padding: 10px;
    background-color: transparent;
    border-width: 0px;
    color: #dfcfcf67;
    border-width: 1px;
    border-color: transparent;
}
#edit_button:hover{
    border-width: 1px;
    border-color: #dfcfcf1f;
}

#save_settings {
    background-color: transparent;
    border-width: 0px;
    color:#f0f0f0;
}